<!DOCTYPE html>
<html>
<head>
	<title>GLS Fullstack Exercise</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>GLS Fullstack Exercise</h1>
	<div class="myClass1" id="id_1">First tip on me using id.</div>

	<div class="myClass2">Second tip on me using class.</div>

	<div class="myClass3">I am the 3rd div. 3rd tip on me using xpath.</div>
  <div class="learningSidebar">Learning Path</div>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="{{ url_for('static', filename='player.js') }}"></script>
</body>
</html>
